<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
}
.banner {
  height: 100vh;
  height: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

.banner img{
  height: 100vh;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
=======
>>>>>>> be452746863433a97c824e0d6c2bfb3c871b545c
